@page
@model PhoneBook.Presentation.Razor.Areas.Identity.Pages.Account.EmailConfirmationModel
@{
}

<div class="container" style="height: 100vh;">
    <div class="row justify-content-center align-items-center ">
        <div class="col-md-6 col-lg-5 col-xl-4 row-main-page " >
            <div class="row text_align_center mb-4 mt-4">
                <h3>تاییدیه ایمیل</h3>
            </div>
            <div class="row">
                <form method="Post">
                   
                    <div class="row">
                        <div class="col">
                            <input class=" form-control-lg input-form-account " type="text"
                                   placeholder="کد ارسال شده را وارد کنید">
                            <span  class="text-danger" style="font-size: 13px"></span>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="mb-2 col-12 text_align_center justify-content-center">
                         
                        </div>
                        <div class="row justify-content-center align-items-center">
                            
                        <button class="btn-form-account mt-3 btn-email">
                           تایید 
                        </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
