.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

body {
    background: url(../images/a.png) no-repeat center;
    background-size: cover;
}

.row-main-page {
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
}

.row-main-page-left {
    height: 460px;
    background-image: linear-gradient(to left bottom, var(--pink-lighter), var(--pink-light), var(--pink-middle), var(--pink-dark), var(--pink-darker));
}

.row-main-page-right {
    height: 460px;
    background-color: var(--white-lighter);
    padding: 24px;
}

.row-main-page-left-register {
    height: 615px;
    background-image: linear-gradient(to left bottom, var(--pink-lighter), var(--pink-light), var(--pink-middle), var(--pink-dark), var(--pink-darker));
}

.row-main-page-right-register {
    height: 615px;
    background-color: var(--white-lighter);
    padding: 24px;
}

.input-form-account {
    border-radius: 50px;
    border: 1px solid transparent;
    color: #000;
    background: rgba(0, 0, 0, .05);
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none;
}

.btn-form-account {
    background-image: linear-gradient(to left bottom,var(--pink-lighter), var(--pink-light), var(--pink-middle), var(--pink-dark), var(--pink-darker));
    border: none;
    width: 100%;
    border-radius: 50px;
    height: 48px;
    color: var(--white-lighter);
}

.account-account {
    border: 1px solid rgba(0, 0, 0, .05);
    background-color: var(--white-lighter);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 13px;
    transition: 0.5s;
}

.account-account:hover {
    background-color: var(--pink-darker);

}

.a-forgot-password {
    color: var(--gray-middle);
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
}

.a-forgot-password:hover {
    color: var(--pink-dark);

}

.label-remember-password {
    color: var(--gray-middle);
}



.input-form-account:focus {

    border: 1px solid var(--pink-darker);
    ;
}

input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 3;
}

a>i {
    color: var(--gray-middle);
    transition: 0.5s;
}

.account-account:hover>i:hover {
    color: var(--white-lighter);
}

.account-account:hover {
    background-color: var(--pink-darker);

}

.input-check-remember-me {
    transition: 0.5s;
}

.input-check-remember-me:not(checked) {
    background-color: var(--white-lighter);

}

.input-check-remember-me:checked {
    background-color: var(--pink-darker);
    border: none;
    box-shadow: none;
}

.input-check-remember-me:focus {
    background-color: var(--pink-darker);
    border: none;
    box-shadow: none;
}

.a-link {
    font-size: 22px;
    color: var(--white-lighter);
}

.div-link-login {
    margin-top: 235px;
}
.div-link-register {
    margin-top: 260px;
}

/* webkit solution */
::-webkit-input-placeholder {
    text-align: right;
}
/* mozilla solution */
input:-moz-placeholder {
    text-align: right;
}

.btn-email{
    width:85px
}