:root {
    /* color */
    --pink-lighter: #f6585e;
    --pink-light: #f75668;
    --pink-middle: #f65572;
    --pink-dark: #f5547c;
    --pink-darker: #f35586;
    --magenta-middle:#CE5776;
    --white-lighter: #FFFF;
    --white-lighter-blur:rgba(255, 255, 255,0.4);
    --gray-lighter: #FFFBFA;
    --gray-light: rgba(0, 0, 0, .05);
    --gray-middle: gray;
    --black-middle: #212529;
    --black-dark: #1D2024;
    --black-darker: black;
    /* color */
    /* Showdow */
}
@font-face {
    font-family: myFont;
    src: url(../fonts/Sans\ a4fran3.ttf) ;
  }
body
{
    font-family:myFont ;
}

.text_align_center
{
    text-align: center;
}
a{
    text-decoration: none;
}

