
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] </title>
    @RenderSection("Styles",false)
    <partial name="_HeaderReferencesPartial"/>
    
</head>
<body>
   
            @RenderBody()

<partial name="_FooterRefrencesPartial"/>
  <partial name="_ValidationScriptsPartial"/>
    @await RenderSectionAsync("Scripts", required: false)
<partial name="_SiteMessagesPartial"/>
</body>
</html>