<html dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@ViewData["Title"] </title>
@RenderSection("Styles",false)
<partial name="_HeaderReferencesPartial"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-center main-section ">
                <div class="col-2 sidebar ">

                    <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">

                        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                            <li class="nav-item">
                                <a href="#" class="nav-link active py-3 border-bottom a-sidebar" aria-current="page"
                                   title="" data-bs-toggle="tooltip" data-bs-placement="right"
                                   data-bs-original-title="مخاطبین">
                                    <i class="bi bi-table i-sidebar"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link py-3 border-bottom a-sidebar" title="" data-bs-toggle="tooltip"
                                   data-bs-placement="right" data-bs-original-title="افزودن مخاطب">
                                    <i class="bi bi-telephone-plus-fill i-sidebar"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link py-3 border-bottom a-sidebar" title="" data-bs-toggle="tooltip"
                                   data-bs-placement="right" data-bs-original-title="پروفایل">
                                    <i class="bi bi-person-fill i-sidebar"></i>
                                </a>
                            </li>

                        </ul>
                        <div class="dropdown border-top">
                            <a href="#"
                               class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                               id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24"
                                     class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-sm-9  ">

                   @RenderBody()
                </div>

            </div>
        </div>


    <partial name="_FooterRefrencesPartial"/>
    <partial name="_ValidationScriptsPartial"/>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_SiteMessagesPartial"/>
    </body>

</html>