<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a  class="nav-link active py-3 border-bottom a-sidebar" aria-current="page"  asp-page="/ListContacts"
               title="" data-bs-toggle="tooltip" data-bs-placement="right"
               data-bs-original-title="لیست مخاطبین">
                <i class="bi bi-table i-sidebar"></i>
            </a>
        </li>
        <li>
            <a  class="nav-link py-3 border-bottom a-sidebar" title="" data-bs-toggle="tooltip" asp-page="/AddContact"
               data-bs-placement="right" data-bs-original-title="افزودن مخاطب">
                <i class="bi bi-telephone-plus-fill i-sidebar"></i>
            </a>
        </li>
        <li>
            <a  class="nav-link py-3 border-bottom a-sidebar" title="" data-bs-toggle="tooltip" asp-page="/Profile/EditProfile"
               data-bs-placement="right" data-bs-original-title="پروفایل">
                <i class="bi bi-person-fill i-sidebar"></i>
            </a>
        </li>

    </ul>
  
</div>